

<div class="container">
  <form class="jumbotron">
    <div class="form-group">
      <label for="nome">Nome da disciplina</label>
      <input ng-model="disciplina.nome" type="text" name="nome" value="" class="form-control" placeholder="Introdução à programação">
    </div>
    <div class="row">
      <div class="form-group col-md-3 col-xs-6">
        <label for="creditos">Créditos</label>
        <input ng-model="disciplina.carga" type="number" name="creditos" class="form-control" min="1" max="128">
      </div>
      <div class="form-group col-md-3 col-xs-6">
        <label for="semestre">Semestre</label>
        <input ng-model="disciplina.semestre" type="number" name="semestre"  class="form-control" min="1" max="16">
      </div>
      <div class="form-group col-md-3 col-xs-6">
        <label for="nota">Nota</label>
        <input ng-model="disciplina.nota" ng-disabled="disciplina.trancada" type="number" name="nota" step="1" class="form-control"  min="0" max="10">
      </div>
      <div class="checkbox col-md-3 col-xs-6">
        <label><input ng-model="disciplina.trancada" type="checkbox">Trancada</label>
      </div>
    </div>
    <div class="alert alert-info">
      <b>Aviso:</b> as disciplinas que foram reprovadas por falta devem ter nota ZERO. Fonte: <a href="http://www.prograd.ufc.br/perguntas-frequentes/384-perguntas-frequentes-ira">página da PROGRAD UFC</a>
    </div>
    <div class="pull-right div-botoes">
        <button type="button" name="button" class="btn btn-success" ng-click="addDisciplina(disciplina)">Adicionar</button>
    </div>
  </form>

  <div class="panel panel-success">
    <div class="container-fluid panel-heading">
      <h1>Seu IRA individual é: <b>{{ira | number: 4}}</b></h1>
    </div>
  </div>

  <div class="panel panel-primary" ng-repeat="semestre in dados.semestres">
    <div class="panel-heading" >
      <div class="row">
        <div class="col-sm-6">
          <h2>{{semestre.periodo}}º Semestre</h2>
        </div>
        <div class="col-sm-6">
          <h3 class="text-right">IRA: {{semestre.media | number:4}}</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Disciplina</th>
            <th>Créditos</th>
            <th>Nota</th>
            <th>Trancada</th>
            <th>Apagar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in semestre.disciplinas">
            <div class="form-group">
              <td><input type="text" name="" class="form-control"  ng-model="x.nome" ></td>
              <td><input type="text" name="" class="form-control"  ng-model="x.carga"  ></td>
              <td><input type="text" name="" class="form-control"  ng-model="x.nota" ng-disabled="x.trancada"></td>
              <td><input type="checkbox" name="" class="form-check-input"  ng-model="x.trancada" ng-model="$index"></td>
              <td><button type="button" name="button" class="btn btn-danger" ng-click="removerDisciplina(semestre,x)">Apagar</button></td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
