

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h2>1o Semestre</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Disciplina</th>
            <th>Semestre</th>
            <th>Créditos</th>
            <th>Nota</th>
            <th>Trancada</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in disciplinas">
            <td><input type="text" name="" ng-value="x.nome" ></td>
            <td><input type="text" name="" ng-value="x.semestre" ></td>
            <td><input type="text" name="" ng-value="x.carga" ></td>
            <td><input type="text" name="" ng-value="x.nota" ng-disabled="$index"></td>
            <td><input type="checkbox" name="" ng-checked="x.trancada"  ng-model="$index"></td>
            <td><input type="hidden" name="index" value="{{$index}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
